body {
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    background-color: #050505;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #b30707;
    font-family: "Courier New", Courier, monospace;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #ff0000;
    background-color: #000000;
    text-align: center;
}

.title {
    font-size: 8rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #b30707;
    letter-spacing: 0px;
}

.subtitle {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 200px;
}

.password-title {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 10px;
}

.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="number"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ff0000;
    background-color: #000000;
    color: #b30707;
    margin-bottom: 10px;
    border-radius: 5px;
}

input[type="button"] {
    padding: 10px 20px;
    font-size: 1rem;
    border: 1px solid #ff0000;
    background-color: #350000;
    color: #b30707;
    cursor: pointer;
    border-radius: 5px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    margin: 10px;
    padding: 20px;
    border: 2px solid #ff0000;
    border-radius: 5px;
}

li a {
    color: #b30707;
    text-decoration: none;
    font-size: 1.5rem;
}

li:hover {
    background-color: #350000;
}

a {
    color: #b30707;
    text-decoration: none;
}

.open-news {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #3a0000;
    border: 2px solid #ff0000;
    color: #b30707;
    border-radius: 5px;
}

.news-container {
    max-width: 800px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 2px solid #ff0000;
    border-radius: 5px;
    padding: 30px;
}

.news-title {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
}

.article-title {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    word-wrap: break-word;
    padding: 20px 200px;
}

.article-content p {
    margin: 10px 0;
    font-size: 1.25rem;
}

.article-content img {
    max-width: 30%;
    height: auto;
    margin: 10px 0;
}

.back {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #3a0000;
    border: 2px solid #ff0000;
    color: #b30707;
    border-radius: 5px;
}

.OP-img {
    width: 100%;
}

@media (min-width: 320px) {
    body {
        padding: 40px;
    }

    .subtitle {
        font-size: 1rem;
        margin-bottom: 100px;
    }

    .password-title {
        font-size: 1.5rem;
    }

    .article-content {
        padding: 10px;
    }

    .article-content p {
        font-size: 0.8rem;
    }

    .article-title {
        font-size: 1.5rem;
    }

    .obs {
        font-size: 0.5rem;
    }

    .article-content img {
        max-width: 100%;
    }

    .title {
        font-size: 3rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    li a {
        font-size: 1rem;
    }

    .news-title {
        font-size: 1.5rem;
    }

    .news-content {
        font-size: 0.8rem;
    }

    .news-container {
        padding: 15px;
    }
}

@media (min-width: 576px) {
    .article-content {
        padding: 20px;
    }

    .article-content img {
        max-width: 40%;
    }

    .title {
        font-size: 4rem;
    }

    li a {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .article-content {
        padding: 20px;
    }

    .article-content img {
        max-width: 40%;
    }

    .title {
        font-size: 6rem;
    }

    li a {
        font-size: 1.25rem;
    }

    .news-container {
        padding: 25px;
        margin: 50px;
    }
}

@media (min-width: 992px) {
    .article-content {
        padding: 20px;
    }

    .article-content img {
        max-width: 40%;
    }

    .title {
        font-size: 7rem;
    }

    li a {
        font-size: 1.5rem;
    }

    .article-content p {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    .article-content {
        padding: 20px;
    }

    .article-content img {
        max-width: 40%;
    }

    .title {
        font-size: 8rem;
    }

    li a {
        font-size: 1.5rem;
    }

    .article-content p {
        font-size: 1.2rem;
    }
}
